js_import debug from /etc/nginx/njs/debug.js;

server {
    listen 11434;

    set $debug "${DEBUG}";

    js_var $is_streaming;
    js_var $response_body_buf;
    js_var $response_reasoning_buf;
    js_var $response_content_buf;

    proxy_set_header Authorization "Bearer ${OPENAI_API_KEY}";
    proxy_ssl_server_name on;
    proxy_http_version    1.1;
    proxy_read_timeout    300s;
    proxy_send_timeout    300s;
    proxy_buffering       off;
    chunked_transfer_encoding on;

    location = /chat/completions {
        js_header_filter debug.logRequestResponse;
        js_body_filter   debug.logResponseBody;
        proxy_pass ${OPENAI_API_URL}/chat/completions;
    }

    location = /completions {
        js_header_filter debug.logRequestResponse;
        js_body_filter   debug.logResponseBody;
        proxy_pass ${OPENAI_API_URL}/completions;
    }

    location /models {
        js_header_filter debug.logRequestResponse;
        js_body_filter   debug.logResponseBody;
        proxy_pass ${OPENAI_API_URL}/models;
    }

    location = /embeddings {
        js_header_filter debug.logRequestResponse;
        js_body_filter   debug.logResponseBody;
        proxy_pass ${OPENAI_API_URL}/embeddings;
    }

    location / {
        return 200 "Proxy is up.";
    }
}